 h1{
    text-align: center;
    font-size: 400%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color: darkgoldenrod;
}

 p{
    font-size: 25px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    padding-left: 3px;
    padding-right: 3px;
}
h4{
    text-align: center;
    font-size: 40px;
}
h2{
    text-align: center;
}
body{
    padding: 210px;
}  
h3{
    text-align: left;
    
}