.body{
    background-color: aqua;
}
.h1{
    text-align: center;
    font-size: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

p{
    font-size: 20px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 100;
}
h4{
    text-align: center;
    font-size: 45px;
}